# adonis base config
TZ=UTC
HOST=localhost
LOG_LEVEL=info
APP_KEY=
APP_NAME=on-boardly-backend
NODE_ENV=development

# DB config
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=onboardly