# adonis base config
TZ=UTC
HOST=localhost
LOG_LEVEL=info
APP_KEY=FBC4HOb1wi27K7xxxxxxx
APP_NAME=on-boardly-backend
NODE_ENV=development

# DB config
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=onboardly


SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=example_username
SMTP_PASSWORD=example_password
