PORT=3333
TZ=America/New_York
HOST=0.0.0.0
LOG_LEVEL=info
APP_NAME=on-boardly-backend
APP_KEY=DJOCqRe48YOudsmAY0XLUYIqisfFJFcG
NODE_ENV=development
 
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root1
DB_PASSWORD=Root@1234
DB_DATABASE=myapp1
 

# Mailtrap credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=b826@gmail.com
SMTP_PASSWORD=rxay mijo yyvo yygy
 
# PrecticeQ credentials
PRACTICEQ_API_KEY=55b4fe9b84e887126d03108c7877f812924801d8
PRACTICEQ_BASE_URL=https://intakeq.com/api/v1
 
 
# Redis credentials
REDIS_HOST='127.0.0.1'
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_KEY_PREFIX="mmh-"
 
 
# AWS credentials
AWS_REGION= us-east-1
AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY=
S3_DATA_BUCKET='mmh-custom-fine-tuning-data',
S3_DATA_PREFIX='colab_fine_tuning_data/',
 
# Bedrock credentials
BEDROCK_MAX_TOKENS=4096
BEDROCK_ANTHROPIC_VERSION='bedrock-2023-05-31'
BEDROCK_CUSTOM_MODEL_ARN=arn:aws:bedrock:us-east-1:199990519622:custom-model-deployment/j4zwvy6my5da
 
 
FRONTEND_URL='http://localhost:3000'
EMAIL_COMPANY_LOGO='https://mmh-dev.theexpertscloud.com/assets/logo-with-text-CKWOTRJC.svg'
 
EMAIL_TEST=false
EMAIL_TEST_ADDRESS=mtariqsajid@gmail.com,tariqsajid+1@gmail.com
INTAKEQ_FORM_NOTE_URL_BASE='https://intakeq.com/#/client/'
 
 
 
 
SAGEMAKER_INFERENCE_COMPONENT_NAME=Endpoint-1-April-2026-1775116802788
# Optional JSON map by endpoint name, for example:
# SAGEMAKER_INFERENCE_COMPONENT_MAP={"Endpoint-1-April-2026":"my-inference-component"}
SAGEMAKER_INFERENCE_COMPONENT_MAP=arn:aws:sagemaker:us-east-1:199990519622:endpoint/Endpoint-1-April-2026
 
 
 
 
 
 
